* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  hyphens: auto;
}

p, 
h1, 
h2, 
h3, 
h4, 
h5, 
h6 {

  color: 000;
}

a:active, 
a:hover, 
a {
  text-decoration: none;
  color: #000;
}

span {
  font-weight: bold;
}

body {
  background-color:#f0c193;
  background-image: url(https://pomelnikov.com/images/design/50-factures/Facture3.png);
  background-blend-mode: overlay;
}

main {
  min-height: 100vh;
  width: 80%;
  margin: 2rem auto;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

main{
box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px; 
}

main > section {
  padding: 5%;
}

.left-section {
  grid-column: span 2;
  height: 100%;
  background-color: #735538;
}

.rigth-section {
  grid-column: span 5;
  height: 100%;
  background-color: oldlace;
}

.profile {
  width: 100%;
  border-bottom: 2px solid #8AD26D;
  padding-bottom: 1em;

}

.avatar {
  display: block;
  width: 100%;
  border-radius: 50%;
}

.name {
  font-size: 3.5vw;
  color:#F4DBC1;
  text-align: center;
  text-transform: uppercase;
  padding-top: 5%;
}

.position {
  font-size: 2vw;
  color: #F1B376;
  text-align: center;
  text-transform: uppercase;
}

.contact-info, 
.skills, 
.language, 
.code-example {
  width: 100%;
  padding-top: 1em;
}
.contact-title, 
.skills-title, 
.language-title, 
.code-example-title {
  font-size: 2vw;
  text-align: center;
  text-transform: uppercase;
  color: #f4dbc1;
}

.contact-info ul {
  padding: 1rem 0;
}

.contact-info ul li, 
.skills ul li, 
.language ul li {
  font-size: 1.9vw;
  padding: 0.4rem 0;
  display: flex;
  align-items: center;
}

.contact-info ul li i, 
.skills ul li i, 
.language ul li i {
  padding-right: 1rem;
  font-size: 2vh;
  color:#d19c67;
}

.rss-logo * {
  width: 10%;
}

.co {
  color:#F1B376;
  color:#735538;
  color:#F4DBC1;
  color:#73675B;
  color:#BF8E5E;
  color:#8AD26D;
  color:#F5EFDF;
}
